@charset "ISO-8859-1";

body {
	background-color: #A1CF6B;
	margin: 0px;
}

/* Main body */
#mainbody {
	display: flex;
	height: 100vh;
	width: 100%;
}

/* Menu */
#menu {
	background-color: inherit;
	position: absolute;
	left: 5vh;
	top: 5vh;
}

/* Menu Button */

/* Menu Hamburger */
#menuhamburger {
	border: none;
	background-color: inherit;
	transition: 0.5s ease;
	display: flex;
	height: 3vw;
	flex-direction: column;
	justify-content: space-around;
}

/* Hamburger bar lines */

/* Consider merging if possible */
#topbar {
	background-color: #E87461;
	border: none;
	transition: 0.5s ease;
	width: 2vw;
	margin: 0;
	text-align: left;
	padding: 0.2vw;
	border-radius: 0.3vh;
}

#midbar {
	background-color: #E87461;
	border: none;
	padding: 0.2vw;
	margin: 0;
	transition: 0.5s ease;
	width: 2vw;
	border-radius: 0.3vh;
}

#bottombar {
	background-color: #E87461;
	border: none;
	margin: 0;
	padding: 0.2vw;
	transition: 0.5s ease;
	width: 2vw;
	border-radius: 0.3vh;
	padding: 0.2vw;
}

#menuhamburger:hover {
	opacity: 80%;
	cursor: pointer;
}

/* Menu Options */
#menuopt {
	background-color: #1A1F16;
	position: absolute;
	border-radius: 1vh;
	transition: 0.5s ease;
	width: 15vw;
	height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	white-space: nowrap;
}

/* Menu Options Button */
.menuoptbtn {
	border: none;
	transition: 0.5s ease;
	padding: 0.5vw;
	background-color: inherit;
	display: flex;
	align-items: center;
	margin-top: 3vh;
	margin-left: 1vw;
	margin-right: 1vw;
	border-left: 0.3vw solid white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #E8E1EF;
	font-weight: 500;
	font-size: 1vw;
	border-radius: 1vh;
}

.menuoptbtn:hover {
	background-color: #080907;
}

/* Main body */
#mainbody {
	display: flex;
	flex-direction: column;
}

/* Upper half */
#top {
	width: 100vw;
	height: 50vh;
	background-color: white;
}

#title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #A1CF6B;
	font-weight: 500;
	font-size: 8vw;
	margin-bottom: 5vh;
	margin-left: 2vw;
}

/* Bottom half */
#bottom {
	width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* Feedback */
#feedback {
	width: 50%;
	height: 50%;
	resize: none;
	border: 0.5vh solid white;
	background: inherit;
	outline: none;
	border-radius: 2vh;
	transition: 0.5s ease;
	padding: 1vw;
	overflow: hidden;
}

#submitfeedback {
	width: 10%;
	height: 10%;
	border: none;
	border-radius: 1vh;
	transition: 0.5s ease;
	background-color: #1A1F16;
}

#submitfeedback:hover {
	background-color: white;
	color: #1A1F16;
}

.submitanimation {
	animation: txtboxanimation 5s normal;
}

@keyframes txtboxanimation {
	30% {
		width: 0;
	}

	40% {
		padding: 0;
	}

	45% {
		transform: rotateY(0deg);
	}

	50% {
		background-color: white;
	}

	55% {
		transform: rotateY(360deg);
	}

	80% {
		padding: 1vw;
	}

	100% {
		width: 50%;
	}
}

/* Generic Styles */
.bluetxtstyle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #5CA4A9;
	font-weight: 500;
	font-size: 1vw;
}

.greentxtstyle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #A1CF6B;
	font-weight: 500;
	font-size: 1vw;
}

.whitetxtstyle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: 500;
	font-size: 1vw;
}

.subtitle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: 500;
	margin: 0;
	font-size: 2vw;
}