@charset "ISO-8859-1";

body {
	background-color: #A1CF6B;
	margin: 0px;
}

/* Main body */
#mainbody {
	display: flex;
	height: 100vh;
	width: 100%;
}

/* Menu */
#menu {
	background-color: inherit;
	position: absolute;
	left: 5vh;
	top: 5vh;
}

/* Menu Button */

/* Menu Hamburger */
#menuhamburger {
	border: none;
	background-color: inherit;
	transition: 0.5s ease;
	display: flex;
	height: 3vw;
	flex-direction: column;
	justify-content: space-around;
}

/* Hamburger bar lines */
#topbar {
	background-color: #E87461;
	border: none;
	transition: 0.5s ease;
	width: 2vw;
	margin: 0;
	text-align: left;
	padding: 0.2vw;
	border-radius: 0.3vh;
}

#midbar {
	background-color: #E87461;
	border: none;
	padding: 0.2vw;
	margin: 0;
	transition: 0.5s ease;
	width: 2vw;
	border-radius: 0.3vh;
}

#bottombar {
	background-color: #E87461;
	border: none;
	margin: 0; padding : 0.2vw;
	transition: 0.5s ease;
	width: 2vw;
	border-radius: 0.3vh;
	padding: 0.2vw;
}

#menuhamburger:hover {
	opacity: 80%;
	cursor: pointer;
}

/* Menu Options */
#menuopt {
	background-color: #1A1F16;
	position: absolute;
	border-radius: 1vh;
	transition: 0.5s ease;
	width: 15vw;
	height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	white-space: nowrap;
}

/* Menu Options Button */
.menuoptbtn {
	border: none;
	transition: 0.5s ease;
	padding: 0.5vw;
	background-color: inherit;
	display: flex;
	align-items: center;
	margin-top: 3vh;
	margin-left: 1vw;
	margin-right: 1vw;
	border-left: 0.3vw solid white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #E8E1EF;
	font-weight: 500;
	font-size: 1vw;
	border-radius: 1vh;
}

.menuoptbtn:hover {
	background-color: #080907;
}

/* Content */
#content {
	flex-grow: 4;
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-left: 5vw;
}

/* text */
#text {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	padding-left: 5vh;
	flex-wrap: wrap;
}

#title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: 500;
	font-size: 8vw;
	margin-bottom: 5vh;
}

#subtitle {
	margin: 0; font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: 500;
	font-size: 3vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Image slide show NEEDS TO BE DONE*/
#slideshow {
	width: 60%;
	overflow: hidden;
}

#ssimgs {
	object-fit: fill;
	height: 100%;
	border-left: 5vw solid #7AC74F;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: 0.5s ease;
}

/* Generic Styles */
.bluetxtstyle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #5CA4A9;
	font-weight: 500;
	font-size: 1vw;
}

.greentxtstyle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #A1CF6B;
	font-weight: 500;
	font-size: 1vw;
}

.whitetxtstyle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-weight: 500;
	font-size: 1vw;
}