#test {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: gold;
    position: relative;
	font-weight: 500;
	font-size: 8vw;
	margin-bottom: 5vh;
    animation-name: testing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes testing {
    0%   { transform: translateX(0); background-color: red; }
    25%  { transform: translateX(100px); background-color: yellow; }
    50%  { transform: translateX(200px); background-color: blue; }
    75%  { transform: translateX(100px); background-color: orange; }
    100% { transform: translateX(0); background-color: green; }
}