.image-widget {

    padding:0;

    width:400px;

}


.image-widget img {

    width:100%;

    height:300px;

    object-fit:cover;

}


.image-widget p {

    padding:1rem 1.5rem;

    color:#64748B;

}