@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_thin_italic-BF64a625c918a96.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_light_italic-BF64a625c93ac64.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_regular_italic-BF64a625c94445e.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_medium_italic-BF64a625c928c55.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_bold_italic-BF64a625c93b0ce.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./HvDTrial_Brandon_Grotesque_black_italic-BF64a625c93406c.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}