:root {
  /* ==========================
     Fonts - Update later
     ========================== */

  font-family: "Brandon Grotesque", system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */


  /* ==========================
     Theme Colors - Update later
     ========================== */

  /* Main text color */
  color: #04080F;

  /* Page background */
  background-color: #6078A8;


  /* ==========================
     Rendering Defaults
     ========================== */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ==========================
   Global Layout
   ========================== */

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* ==========================
   Global Box Model
   ========================== */

* {
  box-sizing: border-box;
}


/* ==========================
   Links - Update later
   ========================== */

/*
a {
  font-weight: 500;
  color: #04080F;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}
*/


/* ==========================
   Typography Reset
   ========================== */

h1,
h2,
h3,
p {
  margin: 0;
}

.big-text {
    font-size: 5rem;
}